@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #6a2ca4;
}

.container {
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.texto--branco {
    color: white;
}

.container--app {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.container--texto {
    flex-direction: column;
    max-width: 600px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.container--texto h1 {
    font-size: 32px;
}

.container--form form {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 10px;
}

.container--input {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 5px;
}

.container--input input {
    text-align: center;
    max-width: 250px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    height: 35px;
    width: 100%;
}

.btn {
    border-radius: 5px;
    max-width: 200px;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
    height: 35px;
    border: none;
    width: 100%;
}

.res {
    justify-content: center;
    display: flex;
    width: 100%;
}

.container--timers {
    justify-content: space-evenly;
    max-width: 700px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    gap: 10px;
}

.timer {
    background-color: white;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    color: #6a2ca4;
    max-width: 150px;
    display: flex;
    height: 120px;
    width: 100%;
    gap: 10px;
}

.timer h2 {
    font-size: 36px;
}

.timer p {
    font-weight: 500;
    font-size: 17px;
}